<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd ">


	<!-- 将User对象交给spring容器管理 -->
	<!-- Bean元素:使用该元素描述需要spring容器管理的对象
			class属性:被管理对象的完整类名.
			name属性:给被管理的对象起个名字.获得对象时根据该名称获得对象.  
					可以重复.可以使用特殊字符.
			id属性: 与name属性一模一样. 
					名称不可重复.不能使用特殊字符.
			结论: 尽量使用name属性.
	  -->
	<bean  name="user" class="cn.itcast.bean.User" >
		<property name="name" value="tom" >
		</property>
		<property name="age" value="18"></property>
	</bean>
	<!-- 创建方式2：静态工厂创建
	-->

	<bean name="user2" class="cn.itcast.b_create.UserFactory" factory-method="createUser"></bean>

	<!-- 创建方式3：实例工厂创建,调用UserFactory对象的createUser2创建对象。
	-->

	<bean name="user3" class="cn.itcast.b_create.UserFactory"  factory-bean="userFactory" factory-method="createUser2" ></bean>

	<bean name="userFactory" class="cn.itcast.b_create.UserFactory"></bean>
	
</beans>